.DS_Store
.dart_tool/

.packages
.pub/
res/
lib/generated

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

.idea/
example/ios/Flutter/flutter_export_environment.sh
